<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    @{
        Layout = "~/Views/Shared/system/_System.cshtml";
    }
    <title></title>
    <style>
        .image {
            height: 470px;
            width: 350px;
        }
    </style>

</head>
<body>


    <h1 style="margin-left:300px">About US</h1>
    <p style="margin-left:300px;margin-right:300px">
        Blood donations are an essential part of our healthcare system. If we did not have volunteers giving blood, many medical procedures we take for granted could not take place.
        Doctors and surgeons rely on blood donations to carry out life-saving and life-enhancing treatments every day. we create this website so that every person who need blood can get it within no time using our website. we are not a governmrnt organisation as we are pure private but we want to serve people this idea is totally about the benifits of humans
    </p>


</body>
</html>
