<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        Layout = "~/Views/Shared/system/_System.cshtml";
    }
    <title></title>
</head>
<body>


    <div id="body" style="margin-left:300px">


        <hgroup class="title">
            <h1>Contact.</h1>
        </hgroup>

        <section class="contact">
            <header>
                <h3>Phone:</h3>
            </header>
            <p>
                <span class="label">Main:</span>
                <span>+92-3154431102</span>
            </p>
            <p>
                <span class="label">After Hours:</span>
                <span>+92-042-524661</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email:</h3>
            </header>
            <p>
                <span class="label">Support:</span>
                <span><a href="bitf12a042@pucit.edu.pk">bitf12a042@pucit.edu.pk</a></span>
            </p>
            <p>
                <span class="label">Facebook:</span>
                <span><a href="https://www.facebook.com/Bilal.khan.suri">Bilal Khan Suri</span>
            </p>
            <p>
                <span class="label">General:</span>
                <span><a href="mailto:General@example.com">General@example.com</a></span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Address:</h3>
            </header>
            <p>
                Punjab University College of Information Technology Lahore(PUCIT)Old Campus<br />

            </p>
        </section>
    </div>



</body>
</html>
