@{
    Layout = "~/Views/Shared/User/_UserLayout.cshtml";
}

<!DOCTYPE html>

<head>
    <title></title>
</head>
<body>
    <h1>"User Not Validated"</h1><br>
    <a style="width:150px; margin-bottom:30px; margin-left:10px;" href="/Home/Index" class="btn btn-primary">Go Home</a>

</body>

