@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<img src="~/Images/ima.jpg" height="500" width="1340" />

<div>

    <div class="container">
        <div class="row">
            <div class="one col">
                <center><font face="Times New Roman"><h1 style="color:red;">Be a Part of Blood Family!</h1></font></center>
                <p class="add-padding">
                    Donating blood is something that most healthy people can do, it only takes a small part of your day and has the potential to save many lives each time you do it. 	You don’t need a special reason to give blood.
                    You just need your own reason.Some of us give blood because we were asked by a friend.Some know that a family member or a friend might need blood some day.Some believe it is the right thing we do.Whatever your reason, the need is constant and your contribution is important for a healthy and reliable blood supply.  And  you’ll feel good knowing you've helped change a life
                </p>
            </div>
        </div>
    </div>

</div>
<div id="didyouknow">

    <div class="container">
        <div class="row">
            <div class="one col">
                <center><font face="Times New Roman"><h1 style="color:red;">Did you know?</h1></font></center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/f8.jpg" height="300" width="350" />
                <center>
                    <h3 style="color:red;">Only 4 percent</h3>
                    <p>of eligible people give blood on a regular basis</p>
                </center>

            </div>
            <div class="col-md-4">
                <img src="~/Images/f9.jpg" height="300" width="350" />
                <center>
                    <h3 style="color:red;">8,000 units</h3>
                    <p>of blood are needed every day to meet hospital demand</p>
                </center>
            </div>
            <div class="col-md-4">
                <img src="~/Images/clock.png" height="300" width="350" />
                <center>
                    <h3 style="color:red;">30 minutes</h3>
                    <p>is roughly all it takes to give a whole blood donation</p>
                </center>

            </div>
        </div>
    </div>
</div>
<div id="whocanyouhelp">

    <div class="container">
        <div class="row">
            <div class="one col">
                <center>
                    <font face="Times New Roman"><h1 style="color:red;">Who can you help?</h1></font>
                    <p>Every whole blood donation can save or improve the lives of up to three people and a platelet donation can help even more. Your blood can be used to help the following and many more.</p>
                </center>

            </div>
        </div>
        <div id="slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active">
                <li data-target="#slider" data-slide-to="1">
                <li data-target="#slider" data-slide-to="2">
                <li data-target="#slider" data-slide-to="3">
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/1.png" width="1800">
                </div>
                <div class="item">
                    <img src="~/Images/2.png" width="1800">
                </div>
                <div class="item">
                    <img src="~/Images/3.png" width="1800">
                </div>
                <div class="item">
                    <img src="~/Images/4.png" width="1800">
                </div>
            </div>

            <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</div>
<div id="bloodtype">

    <div class="container">
        <div class="row">
            <div class="one col">
                <center>
                    <font face="Times New Roman"><h1 style="color:red;">There are two ways to give blood</h1></font>

                </center>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/6.jpg" height="300" width="550" />
                <center>
                    <h3 style="color:red;">Component donation</h3>
                    <p>A component donation is when the blood is passed through a machine that separates out the components needed (usually platelets and plasma) and returns the remainder to the donor.A platelet donation can take up to 90 minutes and can help up to 3 adults or 12 babies.Red blood cells are returned so component donors can donate up to 15 times a year.</p>
                </center>

            </div>
            <div class="col-md-6">
                <img src="~/Images/7.jpg" height="300" width="550" />
                <center>
                    <h3 style="color:red;">Whole blood donation</h3>
                    <p>A whole blood donation is when blood is drawn from the vein directly into the blood storage bag.The average whole blood donation session takes between 15-30 minutes and results in just under 1 pint of blood being taken.Female whole blood donors can give every 4 months and male whole blood donors can give every 3 months.</p>
                </center>
            </div>
        </div>
    </div>
</div>
<div id="group">

    <div class="container">
        <div class="row">
            <div class="one col">
                <center>
                    <font face="Times New Roman"><h1 style="color:red;">Blood types</h1></font>

                </center>
            </div>
        </div>
        <center><img src="~/Images/typ.jpg" height="300" width="800" /></center>
    </div>
</div>