<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    @{
        Layout = "~/Views/Shared/User/_UserLayout.cshtml";
    }
    <title></title>
    <style>
        .image {
            height: 470px;
            width: 350px;
        }
    </style>

</head>
<body>


    <h1 style="margin-left:300px">Privacy & Policy</h1>
    <p style="margin-left:300px;margin-right:300px">
        This website (excluding linked sites) is controlled by Blood Family. The site can be accessed from countries around the World. As each of these places has laws that may differ from those of Pakistan by accessing the site both you and we agree that the laws of Pakistan shall apply to all matters arising from or relating to the use and contents of this site. You also agree and hereby submit to the non-exclusive jurisdiction of the courts of Pakistan with respect to such matters.

        By accessing and using this website in any way, including, without limitation, browsing the website, registering as a donor, using any information, using any content, using any services, downloading any materials, you agree to and are bound by these Legal Notices. If you do not accept these Legal Notices in full, please cease using this website immediately.
    </p>


</body>
</html>
